.board {
  width: 800px;
  height: 600px;
  border: 1px solid red;
  position: relative;
  box-sizing: border-box;

  &__item {
    left: 0;
    top: 0;
    background-color: transparent;
    // border: 1px dashed black;
  }
}


.colors {
  display: flex;
  &__item {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    opacity: .5;

    &_active {
      opacity: 1;
    }
  }
}
