<div class="board" #board>
  <canvas class="board__item" style="position: absolute;" width="800" height="600"></canvas>
</div>

<div class="colors">
  <div class="colors__item" (click)="changeColor(item)" [class.colors__item_active]="item === currentColor" *ngFor="let item of colors" [style.background]="item"></div>
</div>
